name: KPM Pro Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Toolchain
        run: sudo apt update && sudo apt install -y make gcc-aarch64-linux-gnu
      - name: Fetch GKI Headers
        run: |
         git clone --depth=1 -b android12-5.10-lts https://android.googlesource.com/kernel/common kernels/5.10
         make KERNEL_DIR=$GITHUB_WORKSPACE/kernels/5.10
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: KPM-Pro-Universal
          path: ./*.ko
