name: KPM Pro Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Toolchain
        run: sudo apt update && sudo apt install -y make gcc-aarch64-linux-gnu
      - name: Fetch Kernel Headers
        run: |
         git clone --depth=1 https://github.com/kernel-headers/android-12-5.10 kernels/5.10
         git clone --depth=1 https://github.com/kernel-headers/android-14-6.1 kernels/6.1
          make KERNEL_DIR=$GITHUB_WORKSPACE/kernels/5.10
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: KPM-Pro-Universal
          path: ./*.ko
