jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Git Config Safe Directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Fetch Kernel Headers
        run: |
          # Клонируем официальное GKI ядро 5.10
          git clone --depth=1 -b android12-5.10-lts https://android.googlesource.com/kernel/common kernels/5.10

      - name: Compile KPM Module
        run: |
          # Укажите путь к скачанным заголовкам
          make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- KERNEL_DIR=$GITHUB_WORKSPACE/kernels/5.10

